<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link href="{{ url_for('static', filename='CSS/loadingPage.css') }}" rel="stylesheet">
    </head>
<body>

    <div class ="top_bar">

    </div>
    <div class="images">
    <img src="http://cache.boston.com/resize/bonzai-fba/Globe_Photo/2011/04/14/1302796985_4480/539w.jpg" alt="albulm1">
    <img src="https://i.mdel.net/i/db/2019/12/1255378/1255378-800w.jpg" alt="albulm2">
    <img src="https://images.squarespace-cdn.com/content/v1/53b6eb62e4b06e0feb2d8e86/1557342351849-4N9P5EJJCL0DJMDTP0YI/SamSpratt_Logic_ConfessionsOfADangerousMind_album_artwork.jpg?format=1500w" alt="albulm3">
    <img src="https://i.pinimg.com/originals/e9/bb/e9/e9bbe9322c36a41318c90c1747e78d2b.png" alt="albulm3">
    
</div>

</body>
</html>